@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .headerTopNavigate {
      @apply hover:text-cyan-500 cursor-pointer text-slate-500 text-sm lg:text-lg
    }
   
  }
body,html{
  overflow-x: hidden;
}
body.dark{

  @apply bg-gray-700
}




